{% extends "base.html" %}

{% block content %}
<h2>
    <a href="{% url main:detail obj.pk %}">{{ obj.title }}</a>
</h2>
<p>{{ obj.user }}, {{ obj.create }}</p>
<pre>
    <code>{{ obj.code }}</code>
</pre>
<pre>
    {{ obj.desc }}
</pre>
<div>
    Tags:
    <span class='tag'>
    {% for tag in obj.tags.all %}
        {{ tag.name }}
    {% endfor %}
    </span>
</div>
<div>
<h3>Similar snippets:</h3>
<ul class="unstyled">
    {% for x in obj.tags.similar_objects %}
    <li>
    <a href="{% url main:detail x.pk %}">{{ x.title }}</a>
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}
